%title Log In | FurCade
%form{:action => "/login/auth?then_to=#{params["then_to"]}", :method => 'post'}
  %input{:type => 'text', :name => 'username', :placeholder => 'Username'}
  %input{:type => 'password', :name => 'password', :placeholder => 'Password'}
  %input{:type => 'submit', :value => 'Log In'}
- require 'uri'
- if params['error'] != nil
  %div{:style => "background-color: #faa;color: #a00;padding: 1em;font-family: sans-serif;"}
    = URI.unescape(params['error'])
